//Variables
$orange: #0b760f;
$purple: #510b76;
$grayscale: #16151a;

//Fonts
@font-face {
  font-family: TheMixArabic;
  src: url("../fonts/TheMixArab\ Regular/TheMixArab Regular.ttf");
}

//Generic Classes
.bg-orange {
  background: $orange !important;
  transition: background-color 1s;
}

.text-orange {
  color: $orange;
}

.bg-purple {
  background: $purple !important;
  transition: background-color 1s;
}

.text-purple {
  color: $purple;
}

.text-white {
  color: #fff;
}

.text-grayscale {
  color: $grayscale;
}

.disable-scroll{
  overflow-y: hidden;
}

//Styles
body {
  direction: rtl;
  font-family: "Cairo", sans-serif;
  position: relative;
}

.navbar {
  font-family: TheMixArabic;
  padding: 59px 20px;
  .navbar-collapse {
    .navbar-nav {
      .nav-item {
        margin-left: 20px;
        .nav-link {
          color: $grayscale;
          font-size: 16px;
          font-weight: 600;
        }
        .dropdown-toggle {
          &::after {
            margin-right: 20px;
          }
        }
      }
    }
  }

  #purple-theme {
    background-color: $purple;
  }

  #orange-theme {
    background-color: $orange;
  }

  .theme-toggle {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
  }

  .search-icon-container {
    font-size: 25px;
    color: #000;
    align-self: flex-end;
  }

  .btn {
    padding: 8px 24px;
    border-radius: 24px;
    font-size: 16px;
    border: 1px solid rgba(18, 17, 39, 0.12);
  }

  .glow-btn {
    animation: infiniteGlow 3s infinite;
  }
}

@keyframes infiniteGlow {
  50% {
    box-shadow: 0px 4px 20px #ffb802;
  }
}

#section1 {
  .right-wrapper {
    padding: 128px 200px 128px 0;
    font-size: 16px;
    font-weight: 400;

    .heading-item {
      border-left: 1px solid #fff;
    }
    h1 {
      font-size: 56px;
      line-height: 120%;
      margin-top: 16px;
      margin-bottom: 30px;
      max-width: 80%;
    }

    p {
      font-size: 20px;
      line-height: 180%;
      max-width: 80%;
    }
  }
  img {
    object-fit: cover;
    object-position: center;
    height: 100%;
    position: relative;
    filter: grayscale(70%);
  }
  .img-cont {
    position: relative;
    &::before {
      position: absolute;
      height: 100%;
      width: 100%;
      background-color: #510b76;
      mix-blend-mode: soft-light;
      z-index: 1;
      content: "";
    }
  }
}

#section2 {
  color: #000;
  padding-top: 80px;

  .about {
    margin-bottom: 117px;
    .img-cont {
      width: 431px;
      height: 559px;
      margin: 0 auto;
      position: relative;
      z-index: 1;

      &::before {
        position: absolute;
        width: 332px;
        height: 336px;
        background-color: #e1d9e6;
        opacity: 0.3;
        border-radius: 20px;
        content: "";
        z-index: -1;
        bottom: -65px;
        left: -77px;
      }
    }

    h2 {
      font-size: 40px;
      line-height: 130%;
      max-width: 70%;
      margin-bottom: 24px;
    }

    p {
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      max-width: 70%;
    }
  }

  .features {
    font-family: TheMixArabic;
    padding: 0 140px;
    .feature {
      text-align: center;
      .top {
        color: #fff;
        padding: 10px 50px;
        font-size: 24px;
        font-weight: 500;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
      }
      .bottom {
        padding: 40px 0;
        color: #000;
        font-size: 16px;
        background-color: #fafafa;
        font-weight: 700;
      }
    }
  }
}

#section3 {
  padding: 100px 0;
  text-align: center;

  h2 {
    font-weight: 400;
    font-size: 40px;
  }

  & > .container > p {
    color: #565666;
    font-size: 18px;
    line-height: 157%;
    max-width: 70%;
    margin: 0 auto;
    margin-top: 26px;
  }

  .cards {
    position: relative;
    .card {
      text-align: right;
      padding: 30px;
      margin-top: 80px;
      box-shadow: 15px 15px 50px rgba(143, 81, 211, 0.1);
      border: none;
      border-radius: 30px;
      .icon-container {
        padding: 31px;
        background-color: #faf9f9;
        border-radius: 15px;
        color: #f58026;
        width: fit-content;
        font-size: 30px;
        margin-bottom: 30px;
      }

      h4 {
        font-size: 22px;
        color: $grayscale;
        margin-bottom: 15px;
      }

      p {
        font-size: 16px;
        line-height: 23px;
        color: $grayscale;
        height: 138px;
      }

      a {
        padding: 5px 40px;
        background-color: $purple;
        color: #fff;
        text-decoration: none;
        display: block;
        width: fit-content;
        cursor: pointer;
      }
    }
    &::before {
      height: 105%;
      width: 800px;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      content: "";
      background-color: #e1d9e6;
      opacity: 0.2;
      border-radius: 30px;
      top: 30px;
    }
  }
}

.site-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: #fff;
  box-shadow: 0px 0px 10px 10px #0000004e;
  color: $grayscale;
  transform: translate(-50%, -50%);
  z-index: 10;
  overflow-y: scroll;
  height: 400px;
  direction: rtl;
  padding: 30px;
  border-radius: 30px;

  #close-icon-cont{
    font-size: 30px;
    margin-bottom: 20px;
    color: #000;
    cursor: pointer;
    width: fit-content;
  }
}

.body-overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  background-color: #00000051;
  z-index: 9;
}
